@import "tailwindcss";

:root {
  --nav-color: #1d1e1e;
  --text-color: #e0e9ea;
  --dark-text-color: #aeafb2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-zinc-900 text-gray-100;
  font-family: 'Inter', 'Courier New', Courier, monospace;
  height: 100vh;
}

#root {
  height: 100%;
}

/* Leaflet Map Styles */
.leaflet-container {
  @apply rounded-xl;
}